{% extends 'layout.html.twig' %}

{% block content %}
<h1>{{ gallery.header }}</h1>
{% for section in gallery.sections %}
<ul class="no-bull">
    <li>
        <a href="{{ section.url }}" class="th" target="_blank"><img src="{{ app.static_url.base(section.th) }}" width="300" height="170"></a>
        <label>{{ section.caption }}</label>
    </li>
</ul>
{% endfor %}
{% endblock %}
